body {
  background:#f7c181;
}

.container {
  background: white;
  max-width: 50%;
  margin: 100px auto;
}

/* ********************
Tab's Styles
******************** */
.progress-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: baseline;
  padding-top: 2em;
  margin-left: 0;
  font-size: 1em;
}

/* Tabs */
[data-progress-tab] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: url("http://www.nvcc.edu/wsdm/_images/progress.png") repeat-x;
  color: #aaa;
  font-weight: bold;
  list-style: none;
  text-align: center;
  max-width: 25%;
}
[data-progress-tab]:active {
  outline: none;
}
[data-progress-tab]:hover, [data-progress-tab]:focus {
  cursor: pointer;
}
[data-progress-tab]:hover > span {
  background: #333;
  color: white;
}
[data-progress-tab]:hover > span > p {
  color: white;
}
[data-progress-tab] > span {
  display: inline-block;
  background: #e5e5e5;
  color: #aaa;
  border: 1px solid white;
  position: relative;
  line-height: 1;
  padding: 0.5em;
  border-radius: 50%;
  width: 2em;
  top: -0.75em;
}

[data-progress-tab=active] {
  background: url("http://www.nvcc.edu/wsdm/_images/success.png") repeat-x;
  color: #252525;
}
[data-progress-tab=active] > span {
  background: #0c6e40;
  color: white;
}
[data-progress-tab=active] > p {
  font-weight: bold;
}

[data-progress-tab=passive] {
  background: url("http://www.nvcc.edu/wsdm/_images/success.png") repeat-x;
}
[data-progress-tab=passive] > span {
  background: #505050;
  color: white;
}
[data-progress-tab=passive] > p {
  color: #505050;
  font-weight: normal;
}

/* Panels */
[role=tabpanel] {
  padding: 1em;
}

[data-progress-panel] {
  display: none;
}

[data-progress-panel=active] {
  display: block;
}

/* Input */

.detailEntry{  
    margin-top: 15%;
    margin-left: 25%;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    width: 50%;
  }

  .detailEntry:focus {   
    border-bottom: 2px solid #a9a9a9;
  }
  
  /*Image uploads*/


.file-upload {
  background-color: #ffffff;
  width: auto;
  margin: 0% auto;
  /*padding: 20px;*/
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #F2992E;
  border: none;
  padding: 10px;
  border-radius: 4px;
  /*border-bottom: 4px solid #15824B;*/
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #F2992E;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #a9a9a9;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #a9a9a9;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #a9a9a9;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
/*Table*/

.data-table {
  border: solid 1px #eee;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  width: 100%;
}

.data-table tbody td {
  border: solid 1px #eee;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.data-table-highlight tbody tr:hover {
  background-color: #f8f8f8;
}

.data-table-horizontal tbody td {
  border-left: none;
  border-right: none;
}

.top-buffer {
  margin-top: 20px;
}

.pull-right {
  float: right;
}